.container {
    display: flex;
    flex-direction: column;
    width: 40vw;
    border: 5px solid pink;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(227, 146, 192, 0.3);
    text-align: left;

    .btns {
        display: flex;
        justify-content: space-evenly;
    }

    button {
        width: 25%;
        padding: 10px;
        box-shadow: 0px 0px 10px 5px rgb(227, 146, 192);
        background-color: rgb(227, 146, 192);
        border: none;
        margin: 10px;
        font-size: large;
        font-weight: 600;
    }
    
    input {
        float: right;
        margin: 3px;
        background-color: aliceblue;
    }
    

}